/* Large Devices, Wide Screens 1200*/
@media screen and (max-width: 1200px)
	%container 
		width: 940px
	.hero
		&__title
			font-size: 7rem
		&__subtitle
			font-size: 5rem
	.hero-img
		margin-left: 0

	.personal
		&__content
			padding: 0
	.timeline
		&__event
			padding-left: 0
			padding-right: 0
	.portfolio
		&__list
			grid-template-columns: 1fr 1fr
			padding: 70px
	.hire-content
		&__title
			font-size: 1.8rem

/* Medium Devices, Desktops  992*/
@media screen and (max-width: 992px)
	%container
		width: 727px
	.hero
		&__title
			font-size: 6rem
		&__subtitle
			font-size: 3rem
		&__description
			font-size: 1.75rem

	.about
		&__flex
			justify-content: center
	.personal
		width: 100%
		&__content
			padding-top: 180px
	.interests
		margin: 5rem 0
		&__list
			margin-top: 50px



/* Small Devices, Tablets 768*/
@media screen and (max-width: 768px)
	%container
		width: 100%
		padding: 0 30px


/* Medium Devices, Desktops 480*/
/*@media screen and (max-width: 480px)

/* Small Devices, Desktops 320*/
/*@media screen and (max-width: 320px)