@import "vars.sass"
=headline-text
	font-family: "OpenSans-bold"
	font-size: 3rem
	background: -webkit-linear-gradient($green, $blue)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	text-transform: uppercase
	text-align: center
	margin: 0

=body-headline
	font-family: "OpenSans-Semibold"
	font-size: 1.688rem
	color: $body-headline


%container
	width: 1355px
	margin: 0 auto