@import "vars.sass"
@import "fonts.sass"
@import "mixin.sass"

* 
	box-sizing: border-box

.page
	box-sizing: border-box
	font-family: "OpenSans-light"
	font-size: 1rem
	margin: 0
	padding: 0
	background-color: $main-bg
	color: $text-color

.header
	width: 100%
	height: 100vh
	background: linear-gradient(left, rgba(0, 242, 152, 0.75), rgba(7, 247, 247, 0.75)), url(../img/office.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center center

	&__container
		@extend %container
	
	&__top
		display: flex
		justify-content: space-between
		padding-top: 45px

	&__burger
		width: 40px
		height: 25px

.socials
	&__link
		padding: 0 15px
		color: #fff
		&:first-child
			padding: 0

.burger
	display: inline-block
	position: relative
	width: 40px
	height: 24px
	transform: rotate(180deg)
	&__line
		position: absolute
		top: 50%
		margin-top: -2px
		width: calc(100% - 7px)
		height: 4px
		transition-timing-function: ease
		transition-duration: .15s
		transition-property: transform
		background-color: #fff
		&:before
			content: ''
			top: -10px
			position: absolute
			width: 40px
			height: 4px
			transition-timing-function: ease
			transition-duration: .15s
			transition-property: transform
			background-color: #fff
		&:after
			content: ''
			bottom: -10px
			position: absolute
			width: 40px
			height: 4px
			transition-timing-function: ease
			transition-duration: .15s
			transition-property: transform
			background-color: #fff


.hero
	display: flex
	align-items: center
	color: #fff
	font-family: "OpenSans-light"
	&__content
		margin-top: 300px
	&__title
		display: block
		font-size: 8.5rem
		font-weight: 100
		letter-spacing: 2px
		margin: 0
	&__subtitle
		display: block
		font-size: 6rem
		line-height: 0.7
		&--bold
			letter-spacing: 3.5px
			font-family: "OpenSans-Semibold"
	&__description
		font-size: 2.25rem
		line-height: 2.5
		letter-spacing: -1px



/*about*/
.about
	&__container
		@extend %container
	&__flex
		display: flex
		justify-content: space-between
		padding-top: 90px

.hero-img
	width: 435px
	height: 435px
	position: relative
	margin-left: 100px
	border: 7px solid transparent
	border-image: linear-gradient(top left, $green 0%, $blue 100%)
	border-image-slice: 1
	&__link
		width: 435px
		height: 435px
		padding:  1.875rem  1.875rem 0  1.875rem
		transform: translate(-2.5rem, 30px)
		background-color: #141820
	&__btn
		display: inline-block
		position: relative
		padding: 1rem 2.188rem
		margin-top: 3.75rem
		transform: translateX(50%)
		font-family: "OpenSans-Semibold"
		font-size: 0.75rem
		color: #fff
		text-decoration: none
		background: -webkit-linear-gradient(right, $green, $blue)
		border-radius: 10px
		z-index: 1

.personal
	width: 50%
	&__content
		padding: 0 3.75rem
	&__title
		+headline-text
		margin: 0
	&__description
		padding-top: 2.5rem

.description
	&__text
		margin: 0
		line-height: 1.75rem
	&__list
		margin: 0
		padding-top: 25px
		list-style-type: none
		padding-left: 0
	&__item
		font-size: 1.125rem
		margin-bottom: 25px
		font-family: "OpenSans-Regular"
	&__title
		text-transform: uppercase
		color: $body-headline

.interests
	margin-top: 9.375rem
	&__title
		+headline-text
		font-size: 2.5rem
		padding: 0 4rem
	&__list
		display: flex
		margin-top: 75px
		padding: 0 2rem
	&__item
		padding: 0 2.813rem
	&__icon
		width: 120px
		height: 120px
		display: flex
		justify-content: center
		align-items: center
		border: 2px solid $body-headline
		border-radius: 50%
		color: $body-headline
		&:hover
			background-color: $body-headline
			color: #fff

	&__text
		text-align: center
		font-family: "OpenSans-Regular"
		margin: 0
		padding-top: 20px




//ALWAYS END
@import "media.sass"