@import "vars.sass"
@import "fonts.sass"
@import "mixin.sass"

* 
	box-sizing: border-box

.page
	box-sizing: border-box
	font-family: "OpenSans-light"
	font-size: 1rem
	margin: 0
	padding: 0
	background-color: $main-bg
	color: $text-color

.header
	width: 100%
	height: 100vh
	background: linear-gradient(left, rgba(0, 242, 152, 0.75), rgba(7, 247, 247, 0.75)), url(../img/office.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center center

	&__container
		@extend %container
	
	&__top
		display: flex
		justify-content: space-between
		padding-top: 45px

	&__burger
		width: 40px
		height: 25px

.socials
	&__link
		padding: 0 15px
		color: #fff
		&:first-child
			padding: 0

.burger
	display: inline-block
	position: relative
	width: 40px
	height: 24px
	transform: rotate(180deg)
	&__line
		position: absolute
		top: 50%
		margin-top: -2px
		width: calc(100% - 7px)
		height: 4px
		transition-timing-function: ease
		transition-duration: .15s
		transition-property: transform
		background-color: #fff
		&:before
			content: ''
			top: -10px
			position: absolute
			width: 40px
			height: 4px
			transition-timing-function: ease
			transition-duration: .15s
			transition-property: transform
			background-color: #fff
		&:after
			content: ''
			bottom: -10px
			position: absolute
			width: 40px
			height: 4px
			transition-timing-function: ease
			transition-duration: .15s
			transition-property: transform
			background-color: #fff


.hero
	display: flex
	align-items: center
	color: #fff
	font-family: "OpenSans-light"
	&__content
		margin-top: 300px
	&__title
		display: block
		font-size: 8.5rem
		font-weight: 100
		letter-spacing: 2px
		margin: 0
	&__subtitle
		display: block
		font-size: 6rem
		line-height: 0.7
		&--bold
			letter-spacing: 3.5px
			font-family: "OpenSans-Semibold"
	&__description
		font-size: 2.25rem
		line-height: 2.5
		letter-spacing: -1px



/*about*/
.about
	&__container
		@extend %container
	&__flex
		display: flex
		justify-content: space-between
		padding-top: 90px

.hero-img
	width: 435px
	height: 435px
	position: relative
	margin-left: 100px
	border: 7px solid transparent
	border-image: linear-gradient(top left, $green 0%, $blue 100%)
	border-image-slice: 1
	&__link
		width: 435px
		height: 435px
		padding:  1.875rem  1.875rem 0  1.875rem
		transform: translate(-2.5rem, 30px)
		background-color: #141820
	&__btn
		display: inline-block
		position: relative
		padding: 1rem 2.188rem
		margin-top: 3.75rem
		transform: translateX(50%)
		font-family: "OpenSans-Semibold"
		font-size: 0.75rem
		color: #fff
		text-decoration: none
		background: -webkit-linear-gradient(right, $green, $blue)
		border-radius: 10px
		z-index: 1

.personal
	width: 50%
	&__content
		padding: 0 3.75rem
	&__title
		+headline-text
		text-align: left
		margin: 0
	&__description
		padding-top: 2.5rem

.description
	&__text
		margin: 0
		line-height: 1.75rem
	&__list
		margin: 0
		padding-top: 25px
		list-style-type: none
		padding-left: 0
	&__item
		font-size: 1.125rem
		margin-bottom: 25px
		font-family: "OpenSans-Regular"
	&__title
		text-transform: uppercase
		color: $body-headline

.interests
	margin: 11.25rem 0
	&__title
		+headline-text
		font-size: 2.5rem
		padding: 0 4rem
	&__list
		display: flex
		justify-content: space-around
		margin-top: 75px
		padding: 0 2rem
	&__icon
		width: 120px
		height: 120px
		display: flex
		justify-content: center
		align-items: center
		border: 2px solid $body-headline
		border-radius: 50%
		color: $body-headline
		&:hover
			background-color: $body-headline
			color: #fff

	&__text
		text-align: center
		font-family: "OpenSans-Regular"
		margin: 0
		padding-top: 20px



/*education*/
.education
	background-color: $same-bg
	&__container
		@extend %container
		padding: 9.25rem 0
	&__title
		+headline-text
		padding-bottom: 100px
	&__icon
		width: 66px
		height: 66px
		border: 3px solid $body-headline
		border-radius: 50%
		margin: auto
		color: $body-headline
		display: flex
		justify-content: center
		align-items: center

.fa-graduation-cap,
.fa-university
	font-size: 22px

.timeline
	list-style: none
	margin: 0
	padding: 0
	position: relative
	padding: 80px 0
	&:last-child
		padding-bottom: 30px
	&__event
		padding-bottom: 70px
		display: flex
		position: relative
		padding-left: 150px
		padding-right: 150px
	&__point
		position: absolute
		left: 50%
		top: 17px
		margin-left: -17px
		width: 34px
		height: 34px
		border-radius: 50%
		border: 3px solid $body-headline
		display: flex
		justify-content: center
		align-items: center
		&:after
			content: ''
			position: absolute
			width: 12px
			height: 12px
			border-radius: 50%
			background-color: $body-headline
	&__line
		position: absolute
		top: 0
		left: 50%
		width: 4px
		height: 100%
		margin-left: -2px
		background-color: $body-headline
		&:after
			content: ''
			position: absolute
			bottom: -9px
			left: 50%
			margin-left: -9px
			height: 18px
			width: 18px
			border-radius: 50%
			background-color: $body-headline


.timeline-content
	z-index: 1
	display: flex
	&--text-right
		text-align: right
	&__heading
		width: 50%
		padding: 0 40px
		text-transform: uppercase
	&__text
		width: 50%
		padding: 0 40px
		line-height: 28px
	&__title
		+body-headline
	&__date
		font-family: "OpenSans-Regular"
		padding-right: 10px
		border-right: 1px solid #fff
	&__university
		font-family: "OpenSans-Regular"
		padding-left: 5px
	&--right
		order: 2


/*experience*/
.experience
	&__container
		@extend %container
		padding: 9.25rem 0
	&__title
		+headline-text
		padding-bottom: 100px

	&__icon
		width: 66px
		height: 66px
		border: 3px solid $body-headline
		border-radius: 50%
		margin: auto
		color: $body-headline
		display: flex
		justify-content: center
		align-items: center



/*skills*/
.skills 
	&__container
		@extend %container
	&__title
		+headline-text
		margin-bottom: 100px
	&__list
		background-color: $same-bg


//ALWAYS END
@import "media.sass"